APP_NAME=InventoryApp
APP_ENV=local
APP_KEY=base64:GENERATE_WITH_php_artisan_key_generate
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=inventory_db
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=GENERATE_WITH_php_artisan_jwt_secret
JWT_TTL=1440

CORS_ALLOWED_ORIGINS=http://localhost:5173
